@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
  scroll-behavior: smooth;
}

.jugadu-gradient {
  background-color: #FFD500; /* For browsers that do not support gradients */
  background-image: linear-gradient(120deg, #FFD500, #FFB700);
}

.jugadu-radial-gradient {
  background-color: #485461;
  background-image:  url("bg_element_3.svg"), linear-gradient(315deg, #242730 0%, #141516 74%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.hero.is-dark.is-bold.jugadu-landing{ 
  background-image: url("bg_element_3.svg"), linear-gradient(141deg,#1f191a 0,#363636 71%,#46403f 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: unset;
 
}

.is-dark-bg {
  background-color: #1f191a;
  background-image: linear-gradient(141deg,#1f191a 0,#363636 71%,#46403f 100%);
}

.jugadu-background-elem {
  background-image:  url("bg_element_3.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.navbar-title-font {
    font-family: 'Fredoka One', cursive;
}

.header-title {
  font-family: 'Poiret One', cursive;
  color: white !important;
}

.header-subtitle {
  color: white !important;
}

.servicesList {
  color: #FF9D00;
  font-size: 120%;
  text-decoration: overline;
}

.div.card-image {
  height: 200px;
  overflow: hidden !important;
  text-align: center;
}
.card-image > img {
  height: 100%; 
}

.hidden-elem {
  display: none;
}

.jugadu-orange-color {
    color: #FF9D00 !important;
}

/*
    DOUBLE LINE HEADING ON SIDES
*/

.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 600px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

/*
    SINGLE LINE HEADING ON SIDES
*/


.line-heading  {
    padding: 10px;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

.line-heading:before,
.line-heading:after {
    content: '';
    border-top: 2px solid;
}